<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owner in Clinic</title>
</head>
<body>
<h2 th:text="'Owners List'">Default owner page</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 200px;">name</th>
        <th style="width: 200px;">surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner:${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.name}">Joe</td>
        <td th:text="${owner.surname}">Block</td>
    </tr>
    </tbody>
</table>
</body>
</html>